.dropdown__info a::after {
  content: "";
  border: none;
}

.dropdown__info a {
  color: #f8f8f2;
}

.dropdown__info a:hover {
  color: #f8f8f2;
}

.item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
