.navLink {
  margin-top: 0.2rem;
}

.navLink:hover a {
  background-color: #282a36;
}

.navLink a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  color: #a8a8a5 !important;
  border-radius: 20px;
  padding: 1rem 2rem;
  font-weight: 600;
}

.navLink a i {
  color: #a8a8a5;
}

.navLink .active__navigation {
  background-color: #282a36;
  color: #f8f8f2 !important;
}
