.login__section {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login__section .login__card__container {
  margin: auto;
  background: #3f3f3f;
  box-shadow: 0 8px 12px 0 #5457805e;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 2rem;
}

.login__section .login__card__container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.login__section .login__card__container form input {
  margin: 10px 0;
  background: #333333;
  color: #cfcfcf;
  border: none;
}

.login__section .login__card__container form button {
  margin: 10px 0;
  background: #2b2b2b;
  color: #cfcfcf;
}
