.login__section {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login__section .login__card__container {
  margin: auto;
  background: #44475a;
  box-shadow: 0 8px 12px 0 #5457805e;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 2rem;
}

.login__section .login__card__container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.login__section .login__card__container form input {
  margin: 10px 0;
  background: #6272a4;
  color: #f8f8f2;
  border: none;
  border-radius: 20px;
  padding: 0.7rem;
  padding-left: 1.5rem;
}

.login__section .login__card__container form input::placeholder {
  color: #f8f8f240;
}

.login__section .login__card__container form button {
  margin: 10px 0;
  background: #282a36;
  color: #f8f8f2;
  border-radius: 20px;
  padding: 0.7rem;
}
