.login__section {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login__section .login__card__container {
  margin: auto;
  background: rgba(95, 95, 95, 0.5);
  box-shadow: 0 8px 12px 0 rgba(84, 87, 128, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 2rem;
  min-height: 25%;
}

.login__section .login__card__container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.login__section .login__card__container form input {
  margin: 10px 0;
  background: #2b2b2b80;
  color: #cfcfcf;
  border: none;
}

.login__section .login__card__container form button {
  margin: 10px 0;
  background: #2b2b2b;
  color: #cfcfcf;
}
